
#main .about {
	width : 240px;
	float : right;
	padding-bottom : 40px;
}

#main .about .box {
	margin-bottom : 30px;
	text-shadow : 0 1px 2px rgba(0,0,0,.6);
}

#main .about .detail,
#main .about .comments {
	padding : 15px;
}

#main .about .comments {
	cursor : pointer;

	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}

#main .about .comments:hover {
	color : #fff;
	cursor : pointer;

	-webkit-transform : rotate3d(0,0,0,3deg);
	-moz-transform : rotate(3deg);
	-o-transform : rotate(3deg);
	transform : rotate(3deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.3);
		  
		  
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

#main .about .tags {
	padding : 9px 15px;
}

#main .about h3 {
	font-size : 18pt;
	padding : 0 40px 15px 0;
}

#main .about p {
	padding : 0 10px 35px 0;
	font-size : 10pt;
	line-height : 130%;
}

#main .about h4 {
	font-size : 18px;
	padding : 15px 0 12px 0;
	text-shadow : rgba(255,255,255,.1);
}

#main .about a {
	text-decoration : none;
}

#main .about a h5 {
	font-size : 15pt;
	color : inherit;
}

#main .about a h5 span {
	position : relative;
	top : -.1em;
}

#main .about ul {
	overflow : auto;
	padding : 0;
}

#main .about li {
	float : left;
	margin-right : 12px;
	padding : 4px 0;
	font-size : 10pt;
}

#main .about li a {
	display : block;
	color : inherit;
	text-decoration : none;
	color : #fff;
}