﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/post.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/box.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/PagedList.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/tablestyle.css" type="text/css" rel="stylesheet" />
        @RenderSection("header", required: false)
                
        @Styles.Render("~/Content/css")
        @*@Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Before Reports", "Index", "BeforeReport")</li>
                            <li>@Html.ActionLink("After Reports", "Index", "AfterReport")</li>
                            <li>@Html.ActionLink("Archives", "Index", "Archives")</li>
                            <li>@Html.ActionLink("Generate Reports", "Index", "GenerateReports")</li>
                             <li>@Html.ActionLink("Session Activities","AuditRecords","Audit")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @*@Scripts.Render("~/bundles/jquery")*@
        <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
