﻿@model GNFSRS.Domain.Entities.BeforeReport

<table>
   
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.report_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_ReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_ReportTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tender_Depature_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Report_Comments)
        </th>
        <th></th>
    </tr>
    

@foreach (var item in Model as IEnumerable<GNFSRS.Domain.Entities.BeforeReport>) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.report_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_ReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_ReportTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tender_Depature_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Report_Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.before_ReportID }) |
            @Html.ActionLink("Details", "Details", new { id=item.before_ReportID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.before_ReportID })
        </td>
    </tr>
}

</table>

