﻿@model GNFSRS.Domain.Entities.BeforeReport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BeforeReport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.report_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.report_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_ReportDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_ReportDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_ReportTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_ReportTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Venue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Venue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tender_Depature_Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tender_Depature_Time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Report_Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Report_Comments)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
