﻿@model GNFSRS.Domain.Entities.BeforeReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BeforeReport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.report_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.report_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_ReportDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_ReportDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_ReportTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_ReportTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Venue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Venue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tender_Depature_Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tender_Depature_Time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Report_Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Report_Comments)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.before_ReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
