﻿@model GNFSRS.Domain.Entities.BeforeReport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BeforeReport</legend>

        @Html.HiddenFor(model => model.before_ReportID)

        <div class="editor-label">
            @Html.LabelFor(model => model.report_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.report_Code)
            @Html.ValidationMessageFor(model => model.report_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.before_ReportDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.before_ReportDate)
            @Html.ValidationMessageFor(model => model.before_ReportDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.before_ReportTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.before_ReportTime)
            @Html.ValidationMessageFor(model => model.before_ReportTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.before_Venue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.before_Venue)
            @Html.ValidationMessageFor(model => model.before_Venue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.before_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.before_Name)
            @Html.ValidationMessageFor(model => model.before_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.before_Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.before_Phone)
            @Html.ValidationMessageFor(model => model.before_Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tender_Depature_Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tender_Depature_Time)
            @Html.ValidationMessageFor(model => model.tender_Depature_Time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.before_Report_Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.before_Report_Comments)
            @Html.ValidationMessageFor(model => model.before_Report_Comments)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
