﻿@model PagedList.IPagedList<GNFSRS.Domain.Entities.BeforeReport>

@{
    ViewBag.Title = "Before Reports";
}

<style type="text/css">
    input[type="submit"].refresh {
  font-size : 12pt;
  padding : 10px;
  float : right;
  clear : both;

  cursor : pointer;

  border-radius : 4px;
  -webkit-box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);
  -moz-box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);
  -o-box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);
  box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);

  border : 1px solid #b6e026;

  background: #b6e026;
  background: -moz-linear-gradient(top, #b6e026 0%, #80ad20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#80ad20));
  background: -webkit-linear-gradient(top, #b6e026 0%,#80ad20 100%);
  background: -o-linear-gradient(top, #b6e026 0%,#80ad20 100%);
  background: -ms-linear-gradient(top, #b6e026 0%,#80ad20 100%);
  background: linear-gradient(top, #b6e026 0%,#80ad20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#80ad20',GradientType=0 );

  -webkit-transition : padding .2s;
  -moz-transition : padding .2s;
  -o-transition : padding .2s;
  transition : padding .2s;
}

    .text {
        text-shadow: rgba(255,255,255,.1);
        color:rgb(76, 255, 0);
    }

  
        /*.canvasLink a:link  {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }*/

        .canvasLink a:link, a:visited, a:active, a:hover {
            background-color: #b6e026;
        }

       /*.canvasLink  a:link, a:visited, a:active, a:hover {
            background-color: #ff0000;
            color: White;
        }*/
  

</style>

<h2>@ViewBag.Title </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div style="text-align:center" class="detail box post-detail">
    <p class = "text">
         Report Code/ Name &nbsp; @Html.TextBox("sT", ViewBag.ShortInfoText as string, new {style = "width:15em;", @class = "" }) &nbsp; &nbsp;
         Date &nbsp; @Html.TextBox("sO", ViewBag.OtherDetailsText as string, new { style = "width:8em;",  @class = "" })
        @Html.Hidden("sort",ViewBag.ReportCodeSortParam as string)
        <input type="submit" value="Search" class="refresh" />
    </p> </div>
}

<table id="gradient-style" summary="Before Reports Overview">
 <thead>
    <tr>
        @*<th>
              @Html.ActionLink("Sort By Report Code", "Index", new { sort = ViewBag.ReportCodeSortParam, cT = ViewBag.ShortInfoText, cO=ViewBag.OtherDetailsText })
        </th>
        <th>
            @Html.ActionLink("Dates", "Index", new { sort = ViewBag.ReportDateSortParam, cT = ViewBag.ShortInfoText, cO=ViewBag.OtherDetailsText })
        </th>*@
          
        <th scope="col">
            
              @Html.ActionLink("Report Code", "Index", new { sort = ViewBag.ReportCodeSortParam, cT = ViewBag.ShortInfoText, cO=ViewBag.OtherDetailsText })
        
           @* @Html.DisplayNameFor(model => model.First().report_Code)*@
        </th>

        <th scope="col">
             @Html.ActionLink("Report Dates", "Index", new { sort = ViewBag.ReportDateSortParam, cT = ViewBag.ShortInfoText, cO=ViewBag.OtherDetailsText })
            @*@Html.DisplayNameFor(model => model.First().before_ReportDate)*@
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.First().before_ReportTime)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.First().before_Venue)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.First().before_Name)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.First().before_Phone)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.First().tender_Depature_Time)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.First().before_Report_Comments)
        </th>
        <th></th>
    </tr>
     </thead>

    <tfoot>

    <tr>
        <td colspan="4">

            Overview of Before Reports

        </td>
    </tr>

</tfoot>

    <tbody>

@foreach (var item in Model) {
    <tr>
      @*  <td>

        </td>
        <td>

        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.report_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_ReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_ReportTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tender_Depature_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Report_Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.before_ReportID }) |
            @Html.ActionLink("Details", "Details", new { id=item.before_ReportID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.before_ReportID })
        </td>
    </tr>
}

</tbody>
</table>


<div class="detail box post-detail">
    <hr />
    <p style="text-align:right;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
            @Html.Raw(" ");
            @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
        }
        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
            @Html.Raw(" ");
            @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
        }
    </p>
    <hr />
</div>


@*<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", 
    new {page = x, category = Model.CurrentCategory}))
</div>*@