﻿@{
    ViewBag.Title = "Before Reports";
}

<table id="beforeReports" class="display">
    <thead>
        <tr>
            <th>report_Code
            </th>
            <th>before_ReportDate
            </th>
            <th>before_ReportTime
            </th>
            <th>before_Name
            </th>
        </tr>
    </thead>

</table>



@section Scripts {
    <script type="text/javascript" charset="utf-8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#beforeReports').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": document.URL,
                "sServerMethod": "POST",
                "aoColumns": [
                { "mDataProp": "report_Code_desc" },
                { "mDataProp": "Date" },
                { "mDataProp": "before_ReportTime" },
                { "mDataProp": "before_Name" }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var firstApptDate = new Date(parseInt(aData.FirstAppointmentDate.replace("/Date(", "").replace(")/", ""), 10));
                    $('td:eq(3)', nRow).html(firstApptDate.getMonth() + 1 + "/" + firstApptDate.getDate() + "/" + firstApptDate.getFullYear());
                }
            });
        });

    </script>
}
