﻿@model GNFSRS.Domain.Entities.AfterReport

@{
    ViewBag.Title = "Add New After Reports";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AfterReport</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.report_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.report_Code)
            @Html.ValidationMessageFor(model => model.report_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type_of_fire)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type_of_fire)
            @Html.ValidationMessageFor(model => model.type_of_fire)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.return_time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.return_time)
            @Html.ValidationMessageFor(model => model.return_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.number_of_casualties)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.number_of_casualties)
            @Html.ValidationMessageFor(model => model.number_of_casualties)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.properties_lost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.properties_lost)
            @Html.ValidationMessageFor(model => model.properties_lost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cause_of_fire)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cause_of_fire)
            @Html.ValidationMessageFor(model => model.cause_of_fire)
        </div>


        <p>
            <input type="submit" value="Save Record" />
        </p>
    </fieldset>
}


<div class="editor-field">


            <link href="@Url.Content("~/Content/Modal.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/ImageArea.css")" rel="stylesheet" />

            @section Scripts
            {
                <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
                <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
                <script src="@Url.Content("~/Scripts/jquery.imgareaselect.js")"></script>
                <script src="@Url.Content("~/Scripts/jquery.fancyupload.js")"></script>
                <script>
                    $(document).ready(function () {
                        $('.modal_block').click(function (e) {
                            $('#tn_select').empty();
                            $('.modal_part').hide();
                        });
                        $('#modal_link').click(function (e) {
                            $('.modal_part').show();
                            var context = $('#tn_select').load('/EventImages/UploadImage', function () {
                                initSelect(context);
                            });
                            e.preventDefault();
                            return false;
                        });
                    });
                </script>
            }
            <div class="modal_block modal_part"></div>
            <div class="modal_dialog modal_part" id="tn_select"></div>
            <h3>Upload an image by using a modal dialog</h3>
           
            <p>
                <a href="#" id="modal_link">Click here to open Image dialog.</a>
            </p>



        </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

