﻿@model GNFSRS.Domain.Entities.AfterReport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AfterReport</legend>

        @Html.HiddenFor(model => model.after_ReportID)

        <div class="editor-label">
            @Html.LabelFor(model => model.report_Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.report_Code)
            @Html.ValidationMessageFor(model => model.report_Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type_of_fire)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type_of_fire)
            @Html.ValidationMessageFor(model => model.type_of_fire)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.return_time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.return_time)
            @Html.ValidationMessageFor(model => model.return_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.number_of_casualties)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.number_of_casualties)
            @Html.ValidationMessageFor(model => model.number_of_casualties)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.properties_lost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.properties_lost)
            @Html.ValidationMessageFor(model => model.properties_lost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cause_of_fire)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cause_of_fire)
            @Html.ValidationMessageFor(model => model.cause_of_fire)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
