﻿@model PagedList.IPagedList<GNFSRS.Domain.Entities.AfterReport>

@{
    ViewBag.Title = "After Reports";
}



<style type="text/css">
    input[type="submit"].refresh {
  font-size : 12pt;
  padding : 10px;
  float : right;
  clear : both;

  cursor : pointer;

  border-radius : 4px;
  -webkit-box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);
  -moz-box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);
  -o-box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);
  box-shadow : 0 3px 14px #000
    , inset 0 1px 1px rgba(255,255,255,.7);

  border : 1px solid #b6e026;

  background: #b6e026;
  background: -moz-linear-gradient(top, #b6e026 0%, #80ad20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#80ad20));
  background: -webkit-linear-gradient(top, #b6e026 0%,#80ad20 100%);
  background: -o-linear-gradient(top, #b6e026 0%,#80ad20 100%);
  background: -ms-linear-gradient(top, #b6e026 0%,#80ad20 100%);
  background: linear-gradient(top, #b6e026 0%,#80ad20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#80ad20',GradientType=0 );

  -webkit-transition : padding .2s;
  -moz-transition : padding .2s;
  -o-transition : padding .2s;
  transition : padding .2s;
}

    .text {
        text-shadow: rgba(255,255,255,.1);
        color:rgb(76, 255, 0);
    }

  
        /*.canvasLink a:link  {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }*/

        .canvasLink a:link, a:visited, a:active, a:hover {
            background-color: #b6e026;
        }

       /*.canvasLink  a:link, a:visited, a:active, a:hover {
            background-color: #ff0000;
            color: White;
        }*/
  

</style>

<h2>@ViewBag.Title </h2>
<h3>Duration of CodeE111: @ViewBag.duration</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    <div style="text-align:center" class="detail box post-detail">
    <p class = "text">
         Report Code/ Cause &nbsp; @Html.TextBox("sT", ViewBag.ShortInfoText as string, new {style = "width:15em;", @class = "" }) &nbsp; &nbsp;
         Status &nbsp; @Html.TextBox("sO", ViewBag.OtherDetailsText as string, new { style = "width:8em;",  @class = "" })
        @Html.Hidden("sort",ViewBag.ReportCodeSortParam as string)
        <input type="submit" value="Search" class="refresh" />
    </p> </div>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().report_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().type_of_fire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().return_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().number_of_casualties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().properties_lost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().cause_of_fire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.report_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_of_fire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.return_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_of_casualties)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.properties_lost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cause_of_fire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.after_ReportID }) |
            @Html.ActionLink("Details", "Details", new { id=item.after_ReportID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.after_ReportID })
        </td>
    </tr>
}

</table>





<div class="detail box post-detail">
    <hr />
    <p style="text-align:right;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
            @Html.Raw(" ");
            @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
        }
        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
            @Html.Raw(" ");
            @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "canvasLink" })
        }
    </p>
    <hr />
</div>
