﻿@{
    ViewBag.Title = "After Reports";
}

<table id="afterReports" class="display">
    <thead>
        <tr>
            <th>report_Code
            </th>
            <th>status
            </th>
            <th>cause_of_fire
            </th>
           
        </tr>
    </thead>

</table>



@section Scripts {
    <script type="text/javascript" charset="utf-8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#afterReports').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": document.URL,
                "sServerMethod": "POST",
                "aoColumns": [
                { "mDataProp": "report_Code_desc" },
                { "mDataProp": "status" },
                { "mDataProp": "cause_of_fire" },
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var firstApptDate = new Date(parseInt(aData.FirstAppointmentDate.replace("/Date(", "").replace(")/", ""), 10));
                    $('td:eq(3)', nRow).html(firstApptDate.getMonth() + 1 + "/" + firstApptDate.getDate() + "/" + firstApptDate.getFullYear());
                }
            });
        });

    </script>
}
