﻿@model GNFSRS.Domain.Entities.EventImage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EventImage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.report_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.report_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.image_path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image_path)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
