﻿@model GNFSRS.WebUI.Models.EventImageViewModel

@{
    ViewBag.Title = "UploadImage";
  
}
<link href="@Url.Content("~/Content/ImageArea.css")" rel="stylesheet" />
@section Scripts
{
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.imgareaselect.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.fancyupload.js")"></script>
<script>
    $(document).ready(function () {
        initSelect();
    });
</script>
}
<h2>Upload an image</h2>
<p style="color:green; font-size:large; font-family:'Blackadder ITC'">
    @ViewBag.Success
</p>
<p style="color:red; font-size:large; font-family:'Blackadder ITC'">
     @ViewBag.Error
    </p>
@using (Html.BeginForm("UploadImage", "EventImages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.X)
    @Html.HiddenFor(model => model.Y)
    @Html.HiddenFor(model => model.Width)
    @Html.HiddenFor(model => model.Height)
    <div id="upload-choices">
       
        <div class="editor-row">
            <div class="editor-label">
                @Html.LabelFor(model => model.report_Code)
                </div>
            </div><div class="editor-field">
                 @Html.EditorFor(model => model.report_Code)
                 @Html.ValidationMessageFor(model => model.File)
                </div>

            <div class="editor-label">
                @Html.EditorFor(model => model.IsFile)
                @Html.LabelFor(model => model.File)
            </div><div class="editor-field">
                @Html.FileFor(model => model.File)
                @Html.ValidationMessageFor(model => model.File)
            </div>
        </div>
      
   
    <div id="upload-cut">
        <img alt="Field for image cutting" id="preview" src="@Url.Content("~/Content/empty.png")" />
    </div>
    <div class="clear">
        <button type="submit">Upload</button>
    </div>
}