﻿@model IEnumerable<GNFSRS.Domain.Entities.Audit>


@{ViewBag.Title = "Audit Records";}

<h1>@ViewBag.Title</h1>

<div style="overflow-x:auto">

<table>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.SessionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URLAccessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeAccessed)
        </th>
        <th style="width: 400px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block">
            @Html.DisplayNameFor(model => model.Data)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("Details","Details",new{id=item.ID})</td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLAccessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAccessed)
            </td>
            <td title="@item.Data" style="width: 400px; text-overflow: ellipsis; overflow: hidden; white-space:nowrap; display: block">
                @Html.DisplayFor(modelItem => item.Data)
            </td>
        </tr>
    }
</table>
    </div>

@section header{

    <style type="text/css">
        th
        {
            padding-right: 20px;
        }
    </style>
}
