﻿@model GNFSRS.Domain.Entities.Audit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Audit</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SessionID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SessionID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.URLAccessed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.URLAccessed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeAccessed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeAccessed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
