﻿@model GNFSRS.Domain.Entities.Audit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Audit</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SessionID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SessionID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.URLAccessed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.URLAccessed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeAccessed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeAccessed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
