﻿@model GNFSRS.Domain.Entities.Audit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Audit</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.SessionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SessionID)
            @Html.ValidationMessageFor(model => model.SessionID)
        </div>

        @Html.HiddenFor(model => model.AuditID)

        <div class="editor-label">
            @Html.LabelFor(model => model.IPAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IPAddress)
            @Html.ValidationMessageFor(model => model.IPAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URLAccessed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URLAccessed)
            @Html.ValidationMessageFor(model => model.URLAccessed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeAccessed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeAccessed)
            @Html.ValidationMessageFor(model => model.TimeAccessed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
