﻿@model GNFSRS.WebUI.Models.ArchiveViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Year",ViewBag.Years as SelectList, "Select Year")
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UseDefault)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UseDefault)
            @Html.ValidationMessageFor(model => model.UseDefault)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
