﻿@model GNFSRS.Domain.Entities.Archive

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Archive</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_ReportID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_ReportID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.report_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.report_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_ReportDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_ReportDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_ReportTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_ReportTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Venue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Venue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tender_Depature_Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tender_Depature_Time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.before_Report_Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.before_Report_Comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.type_of_fire)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type_of_fire)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.return_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.return_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.number_of_casualties)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.number_of_casualties)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.properties_lost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.properties_lost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

     <div class="display-field">
        @*"GetImageForEvent", "EventImages", new { reportCode = Model.report_Code })*@
    @{Html.RenderAction("GetImageForEvent", "EventImages", new {reportCode =  Model.report_Code });}
        </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.archiveID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
