﻿@model IEnumerable<GNFSRS.Domain.Entities.Archive>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.before_ReportID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_ReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_ReportTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tender_Depature_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.before_Report_Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type_of_fire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.return_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_of_casualties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.properties_lost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.before_ReportID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.report_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_ReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_ReportTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tender_Depature_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.before_Report_Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_of_fire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.return_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_of_casualties)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.properties_lost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.archiveID }) |
            @Html.ActionLink("Details", "Details", new { id=item.archiveID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.archiveID })
        </td>
    </tr>
}

</table>
